main, nav, footer
	margin-top: 1em
	margin-bottom: 1em


header
	@include outer-container(100%)
	@include row(table)
	color: white
	background-color: $header-bcg
	div
		vertical-align: middle
	.logo
		@include span-columns(1 of 4)
		img 
			display: block
			height: 100%
			margin: 0 auto
	.title
		@include span-columns(3 of 4)
		@include reset-display()
		h1
			font-weight: 200
			font-size: 250%


.questions, .trackers
	@include outer-container(100%)
	li 
		@include row(table)
		text-align: center
		padding: 0.5em
		img 
			display: block
		div
			vertical-align: middle

form
	@include fill-parent
	& > div
		@include row(table)
		margin-top: 0.2em
	label, input, textarea
		vertical-align: top
		padding-top: 0

.tracker-item, .category-item, .type-item
	@include fill-parent
	@include row(table)
	& > div.edit
		@include span-columns(1 of 5)
	& > div.details
		@include span-columns(3 of 5)
	& > div.menu
		@include span-columns(1 of 5)
	@include reset-display()