doctype html
head
	link(rel="stylesheet" href="css/index.css")
	title daytimer
body
	header
		h1 daytimer
	main
		h2 today
		div#today
		//- ul.today
		//- 	li
		//- 		h3 tucker
		//- 		p did you walk him?
		//- 		button yes
		//- 		button no
	footer
	script(src="./scripts/bundle.js")
	script(src="./scripts/react/test.js")
	//- typekit
	<script src="https://use.typekit.net/rsz1its.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>