doctype html
head
	link(rel="stylesheet" href="css/index.css")
	title daytimer
body
	header
		.logo
			img(src="assets/brink-logo-small.svg")
		.title
			h1 daytimer
	main
		div#questions
			ul.questions-list
				li.complete
					.todayItem-details
						img.icon-details(src="assets/caret-complete.png")
					.todayItem-question
						p walk tucker
					.todayItem-menu
						img.icon-toggle(src="assets/button-complete.png")
				li.incomplete
					.todayItem-details
						img.icon-details(src="assets/caret-incomplete.png")
					.todayItem-question
						p walk tucker
					.todayItem-menu
						img.icon-toggle(src="assets/button-incomplete.png")
				li.pending
					.todayItem-details
						img.icon-details(src="assets/caret-pending.png")
					.todayItem-question
						p walk tucker
					.todayItem-menu
						img.icon-toggle(src="assets/button-pending.png")

		div#questions-menu
			div.add-question
				img.icon.icon-add(src="assets/button-add.png")
	footer
	script(src="./scripts/bundle.js")
	script(src="./scripts/react/test.js")
	//- typekit
	<script src="https://use.typekit.net/rsz1its.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>